div.connection .form-actions {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}
div .btn-group{
    margin-top: 10px !important;
}

div.repeat-days label.control-label{
    padding-left: 10px;
    padding-right: 5px;
}

div.repeat-days div.form-group{
    display: inline;
}

div.repeat-days div.sonata-ba-field{
    display: inline;
}