/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/composer.phar
/nbproject/
/backups/
bin/
app/bootstrap.php.cache
web/uploads
web/bundles
.gitignore
.git
*~
/build.properties
