.question, .answer, .audience {
    cursor: pointer;
}

.answer > .panel-heading {
    background-color: #FF5D5E;
    color: #fff;
}

.answer.panel-info, .answer .panel-heading, .answer .panel-body {
    border-color: #FFA3A4;
}