{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/successevent/css/jquery.countdown.css') }}" />
{% endblock %}


{% block body %}
    <div>
        <h2>Event detail</h2>
            {{ event.name }}
            {{ event.url }}
    </div>
            
    <div id='countdown'>
        
    </div>
    
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/successevent/js/jquery.countdown.js') }}"></script>
{% endblock %}