{% extends "::base.html.twig" %}


{% block body %}
    <div>
        <h2>Event detail</h2>
        <h3>{{ event.name }}</h3>
        <h3>{{ event.url }}</h3>
    </div>
            
    <div id='countdown'>
        Time to start:
    </div>
    
{% endblock %}