{% extends "SuccessSiteBundle::basic_layout.html.twig" %}

{% block content %}
    {% if access %}
        {{page.content|raw}}
    {% else %}
        <h1>У вас нет доступа к странице!</h1>
    {% endif %}
    
{% endblock content %}