{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    <a class="btn btn-sm btn-default edit_link" href="{{ admin.generateObjectUrl('calculate', object) }}">
        <i class="glyphicon glyphicon-user"></i>
        Расчет бонуса
    </a>
{% endblock %}