{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    <span class="label label-primary">
       $ {{ accountBalance(object) }}
    </span>
    <a class="btn btn-sm btn-default edit_link" href="{{ path('admin_success_treasure_accountoperation_list', {'filter':{'member':{'value':object.id}}}) }}">
        <i class="glyphicon glyphicon-eye-open"></i>
        Операции про счету
    </a>
{% endblock %}