{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block list_table %}
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <h4>
                {{ message }}
            </h4>
        </div>
    </div>
{% endblock %}

{% block list_filters %}{% endblock %}    