<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Maintenance mode</title>
    </head>
    <body>
        <h1>Maintenance mode</h1>
        <p><strong>Reason:</strong> <%= reason %></p>
        <p><strong>Deadline:</strong> <%= deadline %></p>
    </body>
</html>
