{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Tree view</h3>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td class="sonata-ba-list-label">Audiences</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path("admin_sonata_get_audiences") }}" class="btn btn-link btn-flat">
                                    <span class="glyphicon glyphicon-align-left"></span> View as tree
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock block %}